/*==========
    GLOBAL
  ==========*/

*{
   box-sizing: border-box;
}

body{
  color: white;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.5;
  text-shadow: 0px 0px 7px black;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  height: 100vh;
}

p{
  margin:0;
}


ul{
  font-size: 0.8rem;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  font-weight: 400;
}

img{
  width: 18px;
  display: block;
  margin-bottom: 0;
  margin-right: 9px;
}
.flex-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-coin{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.bg-data{
    font-size: .8rem;
}


#time-data{
  display: flex;
  flex-direction: column;
  border: solid magenta;
  margin-top: -10%;
  margin-bottom: 0;
  align-self: center;
  font-size: 5rem;
  right: 50;
}


#location-input{
  border: none;
  color: white;
  border-bottom: solid 3px white;
  text-shadow: 0px 0px 7px;
}

input{
  margin: 0;
  padding: 10px;
  background-color: none;
}
