/*==========
    GLOBAL
  ==========*/

*{
   box-sizing: border-box;
}

body{
  color: white;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.0;
  text-shadow: 0px 0px 7px black;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  height: 100vh;
}

p{
  margin: 0;
}


ul{
  font-size: 0.8rem;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  font-weight: 400;
}

li{
  margin-bottom: 0.5em;
}

img{
  width: 18px;
  display: block;
  margin-bottom: 0;
  margin-right: 9px;
  display: block;
}
.flex-container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-coin{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.bg-data{
    font-size: .8rem;
}

.center{
  align-self: center;
  text-align: center;
}


#time-data{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: solid magenta; */
  margin-top: -10%;
  align-self: center;
  font-size: 6.5rem;
  right: 50;
}



input{
  width: 85%;
  display: none;
  color: #f0f0f0;
  margin-top: 0;
  padding: 3px;
  text-align: center;
  background-color: inherit;
  border: none;
  border-bottom: solid 2px grey;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.35);
}

input:focus{
  outline: none;
  background-color: rgba(128, 128, 128, 0.55);
}

.top{
  margin: 0 auto;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

#weather{
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

#weather-icon{
  display: flex;
  align-items: center;
}

#weather-icon p{
  margin-bottom: 3px;
}

#weather-icon img{
  width: 26px;
  margin: 0;
}

.weather-settings{
  display: flex;
}

#settings{
  padding: 0 2px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 2px;
  box-shadow: 0 0 2px;
}

#settings:hover{
  cursor: pointer;
}

#quote{
  max-width: 550px;
  line-height: 1.2;
  text-shadow: 0 0 7px grey;
  font-weight: 400;
}
